// 操作栏
.action-bar {
    @apply grid grid-flow-col gap-2
}

// 操作项按钮
.action-btn {
    @apply text-slate-600 click-style
}

// 点击效果
.click-style {
    @apply duration-300 cursor-pointer select-none
}

// 通用边框
.border-base {
    @apply border border-gray-200 rounded-sm hover:shadow-md duration-300
}

// 段落
.content-text {
    @apply  text-slate-700 leading-[24px]
}

// 组显示隐藏切换
.group-show{
    @apply hidden group-hover:block duration-300
}

// 拖拽副本样式
.ghost {
    height: 3px;
    border-radius: 8px;
    animation-duration: 300ms;
    background: $color-primary;
    overflow: hidden;
}

// 拖拽手柄
.drag-handle{
    @apply w-full h-full cursor-move select-none
}

// 前言样式
.preface{
    @apply ml-2 py-1 pl-1 rounded-sm relative bg-gradient-to-r from-slate-50 to-blue-50
}
.preface::before {
    content: '';
    width: 2px;
    height: 60%;
    border-radius: 8px;
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    background: $color-secondary;
}

// 尾注样式
.endnote{
    @apply  ml-2 py-1 pl-1 rounded-sm relative bg-gradient-to-r from-slate-50 to-slate-100
}
.endnote::before {
    content: '';
    width: 2px;
    height: 60%;
    border-radius: 8px;
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    background: #d8dde0;
}